<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
  <link rel="stylesheet" href="../styles/foundation.css" />
  <link rel="stylesheet" href="../styles/app.css" />
</head>
<body>
<!-- NAVBAR -->
<header class="sticky-shrinknav-header">
  <h1 class="sticky-shrinknav-header-title">Bo<span style="color: rgba(0, 0, 0, 0.8);">oks</span></h1>
  <ul class="menu align-center sticky-shrinknav-menu">
    <li th:if="${usuario == null}"><a th:href="@{/login}">Login</a></li>
    <li th:if="${usuario == null}"><a th:href="@{/usuario/registro}">Registro</a></li>
    <li th:if="${usuario != null}"><a th:href="@{/usuario/perfil}">Mi perfil</a></li>
    <li th:if="${usuario != null}"><a th:href="@{/login?logout}">Cerrar sesión</a></li>
  </ul>
</header>

<div class="verticalContainer">
  <div class="mainContainer">
    <div class="leftContainer">
      <h1>Bo<span>oks</span></h1>
      <h3>Always keep your <span> mind on books</span></h3>
      <p>
        Muchas gracias por visitarnos! <br />
        Creamos esta pagína para ayudarte con tus examanes. <br />
        Ahora podes armar tu calendario de lectura y llegar bien preparado!
      </p>
      <!-- BOTON JOANA <a href="#"><button type="button">Aprende más</button></a> -->
      <!-- use a tag for links to other locations -->
      <a class="button button-rounded-hover" th:href="@{/info}">Aprende más</a>
    </div>
    <div class="rightContainer">
      <img src="https://resources.careersandenterprise.co.uk/sites/default/files/2020-07/Group%20612.svg" alt="">
    </div>
  </div>

  <div class="IImainContainer">
    <div class="IIleftContainer">
      <img src="https://cdni.iconscout.com/illustration/premium/thumb/confident-office-worker-woman-sitting-on-top-of-work-desk-checking-text-messages-on-phone-2880266-2395947.png" alt="">
    </div>
    <div class="IIrightContainer">
      <a th:href="@{/usuario/registro}">Registrate gratis ahora!</a>
    </div>
  </div>
</div>

<!-- <div class="IIImainContainer">
  <img src="https://resources.careersandenterprise.co.uk/sites/default/files/2020-07/Group%20612.svg" alt="">
</div> -->

<!-- FOOTER -->
<footer class="responsive-blog-footer">
  <div class="row">
    <div
            class="medium-8 columns small-order-2 medium-order-1 about-container"
    >
      <div class="row">
        <div class="hide-for-small-only medium-4 columns about-section">
          <!-- <img src="https://placehold.it/250x250" /> -->
        </div>
        <div class="medium-8 columns about-section">
          <h4>Sobre Nosotros</h4>
          <p>
            Somos un grupo de estudiantes de programación y ...
          </p>
          <a th:href="@{/info}">Leer más</a>
        </div>
      </div>
    </div>
    <div
            class="
            small-12
            medium-4
            columns
            small-order-1
            medium-order-2
            mailing-container
          "
    >
<!--      <h4 class="mailing-list">Queres estudiar de una forma más eficiente? Suscribite ahora para recibir información:</h4>-->
<!--      <input type="text" placeholder="Email" />-->
<!--      <a class="button expanded subscribe-button" href="#">Suscribirme</a>-->
    </div>
  </div>
  <div class="row tag-search">
    <div class="columns">
      <h4>Buscar por tag:</h4>
      <ul class="menu simple tag-section">
        <li><a href="">Libros</a></li>
        <li><a href="">Materias</a></li>
        <li><a href="">Estudiantes</a></li>
        <li><a href="">Contacto</a></li>
        <!-- <li><a href="">word</a></li>
        <li><a href="">word</a></li>
        <li><a href="">word</a></li> -->
      </ul>
    </div>
  </div>
  <div class="row columns flex-container align-justify">
    <p>Todos los derechos reservados</p>
    <div class="up-arrow">
      <a href="#top"
      ><i class="fa fa-chevron-circle-up" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</footer>
<!-- SCRIPT -->
<script src="../script/vendor/jquery.js"></script>
<script src="../script/vendor/what-input.js"></script>
<script src="../script/vendor/foundation.js"></script>
<script src="../script/app.js"></script>
</body>
</html>