<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Libros</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link href="../styles/tabla-style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
<nav>
  <p class="primer-item"><a th:href="@{/}">📚 Nombre app</a></p>
  <p class="nav-item"><a th:href="@{/usuario/perfil}">Mi Perfil</a></p>
  <p class="nav-item"><a th:href="@{/logout}">Cerrar Sesión</a></p>
</nav>

    <h1 class="titulo-tabla">LIBROS LEIDOS</h1>

    <table>
      <thead class="theader">
        <tr class="container">
          <th>Titulo</th>
          <th>Autor</th>
          <th>Materia</th>
          <th>Fecha de examen</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr class="container fila">
          <td>Java Spring</td>
          <td>Oracle</td>
          <td>Programacion</td>
          <td>27/06/12</td>
          <td><a href="#">❌</a></td>
        </tr>

        <tr class="container fila">
          <td>Java Spring</td>
          <td>Oracle</td>
          <td>Programacion</td>
          <td>27/06/12</td>
          <td><a href="#">❌</a></td>
        </tr>

        <tr class="container fila">
          <td>React</td>
          <td>Javascript</td>
          <td>Programacion</td>
          <td>27/08/12</td>
          <td><a href="#">❌</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
