<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Libros</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link href="../styles/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- <table>
      <tr>
        <th>Libro</th>
        <th>Autor</th>
        <th>Materia</th>
        <th>Fecha Examen</th>
        <th>Fecha Alerta</th>
        <th>Leído</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      <tr>
        <td>Libro</td>
        <td>Java S</td>
        <td>Ed Física</td>
        <td>14/11/1900</td>
        <td>11/12/1634</td>
        <td>boton?</td>
        <td>BOTON</td>
      </tr>
      <tr></tr>
    </table> -->

    <div class="container">
      <p class="item">Titulo</p>
      <p class="item">Materia</p>
      <p class="item">Días restantes</p>
      <p class="item">Leído</p>
      <p class="item">Eliminar</p>
    </div>

    <div class="container">
      <p>Java Spring</p>
      <p>Programación</p>
      <p>15</p>
      <p>✅</p>
      <p>❌</p>
    </div>

    <br />
    <br />
    <br />

    <div class="container-2">
      <p>Titulo</p>
      <p>Autor</p>
      <p>Materia</p>
      <p>Obligatorio</p>
      <p>Fecha Examen</p>
      <p>Fecha Alerta</p>
      <p>Leído</p>
      <p>Eliminar</p>
    </div>

    <div class="container-2">
      <p>Java Spring</p>
      <p>Autor Libro</p>
      <p>Programación</p>
      <p>(si / no)</p>
      <p>15/11/2021</p>
      <p>05/11/2021</p>
      <p>✅</p>
      <p>❌</p>
    </div>
  </body>
</html>
