<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Libros</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link href="../styles/tabla-style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../styles/nav.css">


    <link rel="stylesheet" href="papeleraStyle.css">

    <link
            href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
            rel="stylesheet"
    />
</head>

<body>

<nav th:replace="layout/layout :: nav"></nav>

<h1 class="titulo-tabla">PAPELERA LIBROS</h1>

<div class="ordenar-materia">
    <span><a href="#">↓ ORDENAR</a></span>
</div>
<p th:if="${libros.isEmpty}">No hay libros.</p>

<table>
    <thead class="theader">
    <tr class="container">
        <th>Titulo</th>
        <th>Obligatorio</th>
        <th>Materia</th>
        <th>Leído</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" libro : ${libros}" scope="row">
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.obligatorio}"></td>
        <td th:text="${libro.materia.nombre}"></td>
        <!-- TODO:  dias?  -->
        <!--    <td th:text="${libro.dias}"></td>-->
        <td th:text= "${libro.leido}"></td>
        <!--    Boton para marcar libro como leido-->
        <td><a th:href="@{/libros/reciclar/}+${libro.id}">✅</a></td>
        <td><a th:href="@{/libros/eliminar/definitivo/}+${libro.id}">❌</a></td>
    </tr>

    </tbody>
</table>

<div class="botones">
    <!--  Volver a Materias (inicio)-->
    <a type="button" class="fill-agg" th:href="@{/materia}"?>Volver &#8629;</a>
    <a type="button" class="fill" th:href="@{/libros/agregar}">Agregar</a>
</div>
</body>
</html>
