<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLES -->
    <link rel="stylesheet" th:href="@{/styles/usarLOC-Style.css}" />
    <!--  -->

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--  -->

    <title>Como usar LOC</title>

</head>
<body>
    <body>
      <div class="container">
        
      <header>
        <h1>Como usar Libro O'Clock</h1>
      </header>
      
      <section>
        <h3>Paso 1:</h3>
        <p>Registra una cuenta e iniciá sesión.</p>
    
        <h3>Paso 2:</h3>
        <p>Agrega tus materias.</p>
    
        <h3>Paso 3:</h3>
        <p>
          Agrega un libro o bibliografía, selecciona la materia, elegí la fecha
          límite y los días de anticipación con los que querés que te llegue una
          notificación para recordarte su lectura. Podés aclarar si se trata de una
          lectura obligatoria, y dejar una breve descripción.
        </p>
    
        <div>
          <p>
            ¡Y listo! Recibirás un mail el día de anticipación seleccionado a la
            fecha límite indicada para que no te olvides de tu lectura. ¡Y para
            tener ese empujoncito final que nunca está de más!
          </p>
        </div>
    
        <p>
          ⚠️ Para eliminar un libro, podés hacer click Eliminar en la lista de
          libros. En la papelera, podés restaurarlos o eliminarlos definitivamente. <br>
          ⚠️ Para eliminar una materia, hacé click en la X a la derecha del nombre
          de esta.
        </p>
        <p>
          Si la materia no tiene ningun libro asociado sera eliminada
          definitivamente. <br>
          Si la materia posee libros asociados, todos los libros no leidos seran
          dados de baja y enviados a la papelera.
        </p>
      </section>
      </div>
      </body>
</body>
</html>