<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" href="sobre-nosotros.css">-->
     <link rel="stylesheet" href="../styles/sobre-nosotros.css"> 


    <title>Sobre nosotros </title>
</head>

<body>

    <div>
        <h1 class="titulo">About us</h1>

    </div>
    <div class="texto1">
        <h3>
            A book is a medium for recording information in the form of writing or images,
            typically composed of many pages (made of papyrus, parchment, vellum, or paper)
            bound together and protected by a cover.[1] The technical term for this physical
            arrangement is codex (plural, codices). In the history of hand-held physical supports
            for extended written compositions or records, the codex replaces its predecessor,
            the scroll. A single sheet in a codex is a leaf and each side of a leaf is a page.
        </h3>



    </div>
    <div class="video1">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/beqbhd7q5Xw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</body>