<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Libros</title>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link href="../styles/tabla-style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
    <nav>
        <p class="primer-item"><a th:href="@{/}">📚 Nombre app</a></p>
        <p class="nav-item"><a th:href="@{/usuario/perfil}">Mi Perfil</a></p>
        <p class="nav-item"><a th:href="@{/logout}">Cerrar Sesión</a></p>
      <!--<img class="perfil-nav-foto" src="assets/tom.jpg" alt="foto perfil" />-->
    </nav>
    </nav>

    <h1 class="titulo-tabla">{MATERIA}</h1>

    <div class="ordenar-materia">
      <span><a href="#">↓ ORDENAR</a></span>
    </div>
    <table>
      <thead class="theader">
        <tr class="container">
          <th>Titulo</th>
          <th>Obligatorio</th>
          <th>Días restantes</th>
          <th>Leído</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr class="container fila">
          <td>Java Spring</td>
          <td>Si</td>
          <td>15</td>
          <td><a href="#">✅</a></td>
          <td><a href="#">❌</a></td>
        </tr>

        <tr class="container fila">
          <td>Economía empresarial</td>
          <td>No</td>
          <td>9</td>
          <td>✅</td>
          <td>❌</td>
        </tr>

        <tr class="container fila">
          <td>React</td>
          <td>Si</td>
          <td>25</td>
          <td><a href="#">✅</a></td>
          <td><a href="#">❌</a></td>
        </tr>

        <tr class="container fila">
          <td>Probabilidad</td>
          <td>Si</td>
          <td>12</td>
          <td>✅</td>
          <td>❌</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="fill">Agregar</button>
  </body>
</html>
