*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f3;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

table {
  width: 55%;
  margin: auto;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  border-bottom: 1px solid #ddd;
  color: white;
  padding: 10px;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.fila {
  transition: transform 0.2s;
}

.theader {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.container {
  display: flex;
  width: 35%;
  border-bottom: 1px #ddd solid;
  border-radius: 5px;
  margin: auto;
  transition: transform 0.2s;
  flex-direction: row;
}

.item-materia {
  padding-left: 10px;
  font-size: 18px;
}

.eliminar-materia {
  margin-left: auto;
}

.container:hover {
  transform: scale(1.03);
}

.primer-item {
  margin-right: auto;
}

.perfil-nav-foto {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  overflow: hidden;
  margin-top: 8px;
  margin-right: 5px;
}

/* .nav-item {
  margin: 15px;
} */

.select-materia {
  margin-left: 62.7vw;
  margin-bottom: 7px;
}

.titulo-tabla {
  margin: auto;
  margin-top: 33px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 300;
}

/*
Boton
*/

button {
  color: white;
  font-family: inherit;
  font-family: 'Roboto Mono', monospace;
  margin-left: 30px;
}

.botones {
  margin-left: 45vw;
  margin-top: 30px;
}

.fill {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill-agg {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: '';
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill-agg::after {
  content: '';
  background-image: linear-gradient(to top left, #be9714, #fad12d);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.fill-agg:hover::after {
  top: 0px;
  left: 0px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color:#fff;
}

.nav-item {
  padding: 10px;
}

.primer-item {
  margin-right: auto;
}

.input-wrap{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

button {
  cursor: pointer;
  /* MODIFICADO PARA CORREGIR BOOTSTRAP STYLES */
  padding: 12px 50px;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #39b385;
  margin: auto;
  transition: 500ms ease all;
  font-family: arial;
  margin-top: 50px;
}

button:hover {
  background-color: #16A085;
  transform: scale(.98);
}