* {
  margin: 0px;
  padding: 0px;
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f3;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-item {
  padding: 10px;
}

.primer-item {
  margin-right: auto;
}

.titulo {
  padding: 15px;
  text-align: center;
}

.cardLayout {
  display: grid;
  grid-template-columns: repeat(0, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.card {
  justify-content: center;
  background-color: white;
  padding: 10px;
  margin: 0px 5px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.2s;
}

.notas {
  margin-bottom: 15px;
  margin-left: 15px;
}

.descripcion-libro {
  background-color: white;
  padding: 10px;
  margin: 5px 5px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(0, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.eliminar {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.last-element {
  margin-bottom: 30px;
}

.card:hover {
  transform: scale(1.03);
}

/* 
BOTONES 
*/

button {
  color: white;
  font-family: inherit;
  font-family: 'Roboto Mono', monospace;
  margin-left: 30px;
}

.botones {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
}

.fill {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill-eliminar {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill-agg {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: '';
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill-eliminar::after {
  content: '';
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill-agg::after {
  content: '';
  background-image: linear-gradient(to top left, #be9714, #fad12d);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.fill-eliminar:hover::after {
  top: 0px;
  left: 0px;
}

.fill-agg:hover::after {
  top: 0px;
  left: 0px;
}

@media (min-width: 640px) {
  .descripcion-libro {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cardLayout {
    width: 75vw;
    margin: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .notas {
    margin-left: 15vw;
  }

  .botones {
    margin-right: 14vw;
  }
}

@media (min-width: 1024px) {
  .descripcion-libro {
    width: 55vw;
    height: 20vw;
    margin: auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
    justify-content: center;
    text-align: left;
  }

  .descripcion-element {
    font-size: 22px;
    height: 3vw;
    padding-left: 30px;
  }

  .botones {
    justify-content: center;
    margin: auto;
    margin-top: 30px;
  }

  .notas {
    margin-left: 20vw;
    margin-top: 30px;
  }

  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 65vw;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .descripcion-libro {
    width: 35vw;
    height: 14vw;
    margin: auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
    justify-content: center;
    text-align: left;
    padding-top: 20px;
  }

  .descripcion-element-2 {
    grid-row-end: span 2;
  }

  .descripcion-element {
    font-size: 22px;
    height: 3vw;
    padding-left: 30px;
  }

  .botones {
    justify-content: center;
    margin-left: 15vw;
    margin-top: 30px;
  }

  .notas {
    margin-left: 20vw;
    margin-top: 30px;
  }

  .cardLayout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 65vw;
    margin: auto;
  }

  .last-element {
    margin: auto;
    margin-bottom: 30px;
  }
}
