<nav th:fragment="nav" class="navardo">
    <p class="primer-item"><a style= "margin-left: 10px;" th:href="@{/}"><i class="fas fa-book"></i>&nbspLibro O' clock</a></p>
    <p class="itemardo__inpisable"><a th:href="@{/libros/papelera}"> 🗑️</a></p>
    <p class="itemardo__inpisable"><a th:href="@{/materia}">Mis materias</a></p>
    <p class="itemardo__inpisable"><a th:href="@{/libros}">Mis libros</a></p>
    <p class="itemardo__inpisable"><a th:href="@{/usuario/perfil}">Mi Perfil</a></p>
    <p class="itemardo__inpisable"><a th:href="@{/logout}">Cerrar Sesión</a></p>
</nav>