<nav th:fragment="nav">
    <p class="primer-item"><a style= "margin-left: 10px;" th:href="@{/}"> <img alt="Logo" src="https://i.ibb.co/zf90X1k/study.png" width="30" height="30"> Libros  O' clock</a></p>
    <p class="nav-item"><a th:href="@{/libros/papelera}"> 🗑️</a></p>
    <p class="nav-item"><a th:href="@{/materia}">Mis materias</a></p>
    <p class="nav-item"><a th:href="@{/libros}">Mis libros</a></p>
    <p class="nav-item"><a th:href="@{/usuario/perfil}">Mi Perfil</a></p>
    <p class="nav-item"><a th:href="@{/logout}">Cerrar Sesión</a></p>
</nav>